<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-file-picker"
    version="2.0.2">
    <name>File Picker</name>
    <description>Cordova File Picker Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,file,picker,pick,select,choose</keywords>
    <repo>https://github.com/siyahrichard/cordova-plugin-file-picker.git</repo>
    <issue></issue>

    <js-module src="www/filePicker.js" name="filePicker">
        <clobbers target="filePicker" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FilePicker" >
                <param name="android-package" value="com.jointab.filepicker"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/FilePicker.java" target-dir="src/com/jointab/filepicker" />
    </platform>
</plugin>
